# Node / Next.js
node_modules/
.next/
.out/
dist/
build/
.vercel/
.turbo/
.eslintcache
coverage/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & system
.env
.env.*
!.env.example
.DS_Store
